body {
  font-family: 'Josefin Sans Std Light', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
  margin: auto 10%;
}

h2 {
  font-size: 28px;
  text-shadow: 4px 4px 4px #bbb;
}

div {
  width: 100%;
}

#main #logo{
  margin: 20px 0 20px 0;
  text-align: center;
  vertical-align: middle;
}

