body {
  font-family: 'Josefin Sans Std Light', arial, helvetica, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}

h2 {
  font-size: 28px;
  text-shadow: 2px 2px 2px #bbb;
}

#main {
  width: 760px;
  margin: auto;
}

#main #logo{
  margin: 40px 0;
  text-align: center;
}

p, ul li {
  line-height: 1.4em;
}
